<!-- <!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>All Campgrounds</title>
</head>
<body>
	<h1>Campgrounds</h1>
	<div>
		<a href="/campgrounds/new">New Campground</a>
	</div>
	<ul>
		<% for(let c of campgrounds){ %>
			<li> <a href="/campgrouns/<%=c._id%>"><%= c.title %></a> </li>
		<% } %>
	</ul>	
</body>
</html> -->

<% layout('layout/boilerplate') %>
<h1>Campgrounds</h1>
<div>
	<a href="/campgrounds/new">New Campground</a>
</div>
<!-- <ul>
	<% for(let c of campgrounds){ %>
		<li> <a href="/campgrounds/<%=c._id%>"><%= c.title %></a> </li>
	<% } %>
</ul>	 -->
<% for(campground of campgrounds){ %>
<div class="card" mb-3>
	<div class="row">
		<div class="col-md-4">
			<img class="img-fluid" src="<%= campground.image %>" alt="">
		</div>
		<div class="col-md-8">
			<div class="card-body">
				<h5 class="card-title"><%= campground.title %> </h5>
                <p class="card-text"><%= campground.description %></p>
                <p class="card-text">
                    <small class="text-muted"><%= campground.location%></small>
                </p>
				<a class="btn btn-primary" href="/campgrounds/<%=campground._id%>" >View</a>
			</div>
		</div>
	</div>
</div>
<% } %>